/*------- reinicio de medidas --------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*---------portada----------*/
.portada {
    display: grid;
    grid-template-columns: 80px 1fr;
    justify-content: center;
    align-items: center;
    background: linear-gradient(gray, black);
    width: 100vw;
    height: 100px;
}

h1 {
    font-size: 30px;
    color: red;
    text-shadow: 5px 1px 1px black;

}

.portada img {
    width: 70px;
    height: 80px;
    padding-left: 10px;
    align-self: center;

}




/*------nav-------*/

.contenedor {

    background-color: red;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
}







.list-1 {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;




}

.list-2 {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;

}

.list-3 {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;

}

.list-4 {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;


}

.list-1:hover {
    color: white;
}

.list-2:hover {
    color: white;
}

.list-3:hover {
    color: white;
}

.list-4:hover {
    color: white;
}










/*-------seccion-noticias-------*/

.noticias-1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;




}

.noticias-1 h4 {
    background-color: grey;
    width: 125px;



}



.noticias-1 img {
    width: 330px;

}

hr {
    margin: 10px;
}

.noticias-2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.noticias-2 h4 {
    background-color: grey;
    width: 125px;
}

.noticias-2 img {
    width: 330px;
}

hr {
    margin: 10px;
}



.noticias-3 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.noticias-3 h4 {
    background-color: grey;
    width: 125px;
}

.noticias-3 img {
    width: 330px;
}

hr {
    margin: 10px;
}


/*------- seccion formulario----------*/

.formulario {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;


}

input {
    font-size: 15px;


}

label {
    font-size: 20px;
    font-family: 'Fasthand', cursiva;
    color: red;
}

/*-----------footer-----------*/
.entero {
    background: black;
    width: 100vw;
    height: 200px;
    display: flex;

}

.pie-pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direcciones {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    color: white;
}

.telefonos {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    color: white;
}

.whatsapp {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    color: white;
}

.instagram {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    color: white;
}

.facebook {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    gap: 5px;
    color: white;
}

/*------------header-futbol-----------*/
.header-futbol 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: red;
}
.header-futbol h2
{
    font-size: 20px;
    
}

/*-------seccion-futbol------------*/
.partidos
{
    display: grid;
    
   
    
    grid-template-columns: 90px 90px;
    grid-template-rows:30px 60px ;
    grid-template-areas: "titulo titulo"
                          "escudo subtitulo";
    border: 1px solid black;
    width: 190px;
   padding: 5px;
                    
}

.partidos h4 
{
    
    grid-area: titulo  ;
    justify-self: center;
    
}


.river img 
{
   
    
    grid-area: escudo;
    align-self: center;
    
 }
.partidos h5 
{
    grid-area: subtitulo;
   
    align-self: flex-start;
    padding-top: 10px;
    
    
    
}
.partidos h6 
{
    
    grid-area: subtitulo;
    align-self: center;
    gap: 2px;
    
    
}




.partidos-1
{
    display: grid;
    
    grid-template-columns: 90px 90px;
    grid-template-rows:30px 60px ;
    grid-template-areas: "titulo titulo"
                          "escudo subtitulo";
    border: 1px solid black;
    width: 190px;
    padding: 5px;
                     
}

.partidos-1 h4 
{
    
    grid-area: titulo  ;
    justify-self: center;
    
}


.river-1 img 
{
   
    
    grid-area: escudo;
    align-self: center;
    
 }
.partidos-1 h5 
{
    grid-area: subtitulo;
   
    align-self: flex-start;
    padding-top: 10px;
    
    
    
}
.partidos-1 h6 
{
    
    grid-area: subtitulo;
    align-self: center;
    gap: 2px;
    
    
}


.partidos-2
{
    display: grid;
    grid-template-columns: 90px 90px;
    grid-template-rows:30px 60px ;
    grid-template-areas: "titulo titulo"
                          "escudo subtitulo";
    border: 1px solid black;
    width: 190px;
  
    padding: 5px;                   
}

.partidos-2 h4 
{
    
    grid-area: titulo  ;
    justify-self: center;
    
}


.river-2 img 
{
   
    
    grid-area: escudo;
    align-self: center;
    
 }
.partidos-2 h5 
{
    grid-area: subtitulo;
   
    align-self: flex-start;
    padding-top: 10px;
    
    
    
}
.partidos-2 h6 
{
    
    grid-area: subtitulo;
    align-self: center;
    gap: 2px;
    
    
}
.central    
{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
    padding: 10px;
}

/*-----------seccion-reserva-----------*/
.noticias-reserva
{
    font-size: 20px;
    color: rgb(41, 40, 40);
    margin-left: 10px;
    padding-top:10px ;
}
.reserva img
{
 width: 374px;

}
.reserva h4 
{
    background-color: grey;
    width: 120px;
    
}
.reserva h2
{
    color: red;
}

.reserva-1
{
    margin-top: 10px;
}
.reserva-1 img
{
 width: 374px;

}
.reserva-1 h4 
{
    background-color: grey;
    width: 120px;
    
}
.reserva-1 h2
{
    color: red;
}


.reserva-2
{
    margin-top: 10px;
}
.reserva-2 img
{
 width: 374px;

}
.reserva-2 h4 
{
    background-color: grey;
    width: 120px;
    
}
.reserva-2 h2
{
    color: red;
}

/*----------------etiquetas-------------------*/
.etiquetas h2
{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.etiquetas a 
{
    background-color: grey;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*---------------footer----------------*/

.riv 
{
    background-color: rgb(5, 1, 1);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.riv img 
{
width: 80px;
height: 80px;
margin-top: 20px;
border-radius: 100%;

}
.riv p 
{
    color: white;
    padding: 30px;
    font-size: 10px;
}


/*----------seccion-multimedia------------*/
.mult h2
{
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;
    
    
}
.mult img 
{
    margin-top: -80px;
    margin-left: 90px;
}

.vid  
{
    font-size: 30px;
    padding: 30px;
    color: grey;
}
.principal 
{
    display: flex;
    justify-content: center;
}

.principal iframe 
{
    width: 1000px;
    height: 600px;
    
    
}
.secundarios 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
}
.secundarios iframe:hover 
{
    border:3px solid red;
} 



.footer-mult
{
    background-color: black;
    width: 100vw;
    height: 20vh;
   
}
.footer-mult h2 
{
    color: rgb(248, 244, 244);
    font-size: 50px;
    display: flex;
    justify-content: center;
    
    

}
.footer-mult h2:hover
{
 transition: 2s;   
 color: red;
 text-shadow: 3px 3px 3px white;
}
.footer-mult img
{
    width: 100px;
    border-radius: 300%;

    transform: translate(1200px);
    transition: 90s;
    
    
} 

.icono-1
{
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
 align-items: center;
  gap: 10px;
}


























/*-------modo responsive----------*/
@media (min-width:375px) {
    .portada h1 {
        transform: translate(350px);
        transition: 10s;

    }

    .portada img {
        transform: translate(900px);
        transition: 6s;
    }


    .contenedor {
        display: block;
        display: flex;
    }

    .seccion-noticas {
        display: flex;
        flex-direction: row;
    }

    .noticias {
        display: flex;
        flex-direction: row;



    }

    .formulario {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;


    }

    input {
        font-size: 30px;


    }

    label {
        font-size: 40px;
        font-family: 'Fasthand', cursiva;
        color: red;
    }

    .entero {
        display: flex;
        justify-content: space-around;

    }

    .pie-pagina li {
        font-size: 20px;

    }

    .entero img {
        border-radius: 100%;
        transform: translate(250px) rotate(360deg);
        translate: 60px 8px;
        transition: 15s;
    }
    .header-futbol
    {
        display: flex;
        justify-content: center;
        
    }
   .header-futbol:hover 
   {
    background-color: rgb(249, 2, 2);
    border: 5px solid black;
    transition: 3s;
   }
    .header-futbol h2
    {
        font-size: 50px;
    }
    .header-futbol h2:hover
    {
       color: white;
       transform: translate(300px);
       transition: 6s;
      
       
    }
    .central
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        padding: 20px;
    }
    hr 
    {
        display: none;
    }
    .noticias-reserva
    {
        display: none;
    }
    .contenido-noticias
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
       
    }
    .etiquetas h2 
    {
        font-size: 30px;
    }
    .etiquetas a 
    {
        font-size: 20px;
        margin: 10px;
        
    }
    .riv
    {
        margin-top: 20px;
    }









}