/*------- reinicio de medidas --------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*---------footer----------*/
.portada {

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(gray, black);
    max-width: 100%;
    height: 100px;
}

.portada__titulo {
    font-size: 20px;
    color: red;
    text-shadow: 5px 1px 1px black;

}

.portada img {
    width: 40px;
    height: 50px;

}
@media (min-width:480px){
    .portada__titulo {
        font-size: 30px;
        padding: 20px;
    }
    .portada img {
        width: 50px;
        height: 70px;
    
    }
}

/* boton amburguesa*/
.menu {
    background-color: red;
    max-width: 100%;
    height: 20px;
}

.listado {

    background-color: red;
    max-width: 100%;
    height: 200px;
    position: relative;
    display: none;
    border-radius: 3%;
}

.menu:hover .listado {
    display: block;


}

.bi-list {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.listado a {

    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    gap: 5px;
    font-size: 20px;
}

.listado a:hover {
    color: white;
}

.nav a {
    display: none;
}



@media (min-width:480px) {
    .menu {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: red;
        max-width: 100%;
        height: 60px;
    }

    .nav a {

        display: block;
        display: flex;
        gap: 5px;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }

    .nav a:hover {
        color: white;
    }


}

.galeria {
    display: none;
}



@media (min-width:480px) {

    .galeria {
        display: block;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .galeria ul {
        display: flex;
        padding: 0px;
        margin: 0px;
        max-width: 100%;

        animation: cambio 0.5s infinite alternate;
        animation-timing-function: linear;

    }

    .imagenes li {
        width: 100%;
        list-style: none;

    }

    .imagenes img {
        border: 2px solid blue;
        width: 100 %;
    }

    @keyframes cambio {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        100% {
            margin-left: -100%;
        }

        100% {
            margin-left: -100%;
        }

        100% {
            margin-left: -100%;
        }

        100% {
            margin-left: -100%;
        }

        100% {
            margin-left: -100%;
        }

        100% {
            margin-left: -100%;
        }
    }

}

/*-------seccion-noticias-------*/
.galerias {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.galeria ul {
    display: flex;
    padding: 0px;
    margin: 10px;
    max-width: 100%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-out;

}

.imagenes li {
    width: 100%;
    list-style: none;

}

.imagenes img {
    border: 2px solid blue;
    width: 100 %;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}


.noticias-1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.noticias-1 h4 {
    background-color: grey;
    width: 125px;
}

.noticias-1 img {
    width: 100%;
}

hr {
    margin: 10px;
}

.noticias-2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.noticias-2 h4 {
    background-color: grey;
    width: 125px;
}

.noticias-2 img {
    width: 100%;
}

hr {
    margin: 10px;
}



.noticias-3 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

}

.noticias-3 h4 {
    background-color: grey;
    width: 125px;
}

.noticias-3 img {
    width: 100%;
}

@media (min-width:1024px) {
    .noticias {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}



hr {
    
    color: red;
}


/*------------plantel----------------*/

.plantel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.plantel__profesional {
    font-size: 30px;
    font-family:'Jost', sans-serif;
    color:red;
    margin-left: 10px;

   
}
.plantel__demicheli {
    
    margin-top: 30px;
   
 
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
       
}

.plantel__demicheli img {
    grid-area: foto;
}

.plantel__demicheli h2 {
    grid-area: h2;
}

.plantel__demicheli h3 {
    grid-area: h3;
}

.plantel__demicheli h4 {
    grid-area: h4;
}



.plantel__armani {
   
    margin-top: 30px;
   

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__armani img {
    grid-area: foto;
}

.plantel__armani h2 {
    grid-area: h2;
}

.plantel__armani h3 {
    grid-area: h3;
}

.plantel__armani h4 {
    grid-area: h4;
}


.plantel__casco {
  
    margin-top: 30px;
   

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__casco img {
    grid-area: foto;
}

.plantel__casco h2 {
    grid-area: h2;
}

.plantel__casco h3 {
    grid-area: h3;
}

.plantel__casco h4 {
    grid-area: h4;
}


.plantel__maidana {
   
    margin-top: 30px;
   

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__maidana img {
    grid-area: foto;
}

.plantel__maidana h2 {
    grid-area: h2;
}

.plantel__maidana h3 {
    grid-area: h3;
}

.plantel__maidana h4 {
    grid-area: h4;
}





.plantel__zuculini {
   
    margin-top: 30px;
  

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__zuculini img {
    grid-area: foto;
}

.plantel__zuculini h2 {
    grid-area: h2;
}

.plantel__zuculini h3 {
    grid-area: h3;
}

.plantel__zuculini h4 {
    grid-area: h4;
}

.plantel__rojas {
   
    margin-top: 30px;
 

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__rojas img {
    grid-area: foto;
}

.plantel__rojas h2 {
    grid-area: h2;
}

.plantel__rojas h3 {
    grid-area: h3;
}

.plantel__rojas h4 {
    grid-area: h4;
}

.plantel__delacruz {
   
    margin-top: 30px;
   

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__delacruz img {
    grid-area: foto;
}

.plantel__delacruz h2 {
    grid-area: h2;
}

.plantel__delacruz h3 {
    grid-area: h3;
}

.plantel__delacruz h4 {
    grid-area: h4;
}


.plantel__martinez {
  
    margin-top: 30px;
    margin-bottom: 30px;
  

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:110px 230px;
    grid-template-rows: 30px 20px 20px;
    grid-template-areas: "foto h2"
        "foto h3"
        "foto h4";
}

.plantel__martinez img {
    grid-area: foto;
}

.plantel__martinez h2 {
    grid-area: h2;
}

.plantel__martinez h3 {
    grid-area: h3;
}

.plantel__martinez h4 {
    grid-area: h4;
}

@media (min-width:1024px) {
    .plantel {
        display: grid;
     
        grid-template-columns: 50% 50%;
        grid-template-rows:30px 90px 90px 90px 90px;
        grid-template-areas: "titulo titulo"
        "armani demicheli"
        "casco martinez"
        "delacruz zuculini"
        "maidana rojas";

    }
    .plantel__profesional {
        grid-area: titulo;
        
    }
    .plantel__demicheli {
        grid-area: demicheli;
        justify-self: center;
        
    }
    .plantel__armani {
        grid-area: armani;
        justify-self: center;
    }
    .plantel__casco {
        grid-area: casco;
        justify-self: center;
    }
    .plantel__delacruz {
        grid-area: delacruz;
        justify-self: center;
    }
    .plantel__maidana {
        grid-area: maidana;
        justify-self: center;
    }
    .plantel__martinez {
        grid-area: martinez;
        justify-self: center;
    }
    .plantel__zuculini {
        grid-area: zuculini;
        justify-self: center;
    }
    .plantel__rojas {
        grid-area: rojas;
        justify-self: center;
    }
    
}



/*------- seccion formulario----------*/

.formulario {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;


}

input {
    font-size: 15px;


}

label {
    font-size: 20px;
    font-family: 'Fasthand', cursiva;
    color: red;
}

/*---------seccion articulos---------*/
.articulos {

    font-family: 'Jost', sans-serif;
    color: red;
    font-size: 30px;
    margin: 10px;
}






.club {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;
    border: 2px solid rgb(75, 7, 246);
    width: 150px;
    height: 260px;
    padding: 5px;
    margin: 5px;
}

.club h2 {
    font-size: 12px;
    color: red;

}

.club p {
    font-size: 12px;
}

.club img {
    width: 100%;
}


.pretemporada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;
    border: 2px solid rgb(61, 22, 158);
    width: 150px;
    height: 260px;
    padding: 5px;

}

.pretemporada h2 {
    font-size: 12px;
    color: red;

}

.pretemporada p {
    font-size: 12px;
}

.pretemporada img {
    width: 100%;
}


.fixture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;
    border: 2px solid rgb(61, 22, 158);
    width: 150px;
    height: 260px;
    padding: 5px;

}

.fixture h2 {
    font-size: 12px;
    color: red;

}

.fixture p {
    font-size: 12px;
}

.fixture img {
    width: 100%;
}


.selectivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;
    border: 2px solid rgb(61, 22, 158);
    width: 150px;
    height: 260px;
    padding: 5px;

}

.selectivo h2 {
    font-size: 12px;
    color: red;

}

.selectivo p {
    font-size: 12px;
}

.selectivo img {
    width: 100%;
}

.observacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;



}

/*-----------footer-----------*/
.entero {
    background: black;
    max-width: 100%;
    height: 200px;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.entero img {
    width: 200px;
}


.contactos a {
    display: flex;
    padding: 5px;
}

.contactos li {
    padding-left: 10px;
    padding-right: 10px;
}

.contactos__direcciones {

    font-size: 15px;
    list-style: none;
    text-decoration: none;

    color: white;
}

.contactos__telefonos {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.contacto__whatsapp {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.contacto__instagram {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.contacto__facebook {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: white;
}

/*------------header-futbol-----------*/
.header-futbol {
    padding: 10px;
    background-color: red;
    max-width: 100%;
}

.header-futbol h2 {
    font-size: 20px;

}

/*-------seccion-futbol------------*/
.partidos {
    display: grid;



    grid-template-columns: 90px 90px;
    grid-template-rows: 30px 60px;
    grid-template-areas: "titulo titulo"
        "escudo subtitulo";
    border: 1px solid black;
    width: 190px;
    padding: 5px;

}

.partidos h4 {

    grid-area: titulo;
    justify-self: center;

}

.riv {
    max-width: 100%;


}

.riv img {
    transform: rotate(600px);
    transition: 10s;
}

.river img {


    grid-area: escudo;
    align-self: center;


}


.partidos h5 {
    grid-area: subtitulo;

    align-self: flex-start;
    padding-top: 10px;



}

.partidos h6 {

    grid-area: subtitulo;
    align-self: center;
    gap: 2px;


}




.partidos-1 {
    display: grid;

    grid-template-columns: 90px 90px;
    grid-template-rows: 30px 60px;
    grid-template-areas: "titulo titulo"
        "escudo subtitulo";
    border: 1px solid black;
    width: 190px;
    padding: 5px;

}

.partidos-1 h4 {

    grid-area: titulo;
    justify-self: center;

}


.river-1 img {


    grid-area: escudo;
    align-self: center;

}

.partidos-1 h5 {
    grid-area: subtitulo;

    align-self: flex-start;
    padding-top: 10px;



}

.partidos-1 h6 {

    grid-area: subtitulo;
    align-self: center;
    gap: 2px;


}


.partidos-2 {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 30px 60px;
    grid-template-areas: "titulo titulo"
        "escudo subtitulo";
    border: 1px solid black;
    width: 190px;

    padding: 5px;
}

.partidos-2 h4 {

    grid-area: titulo;
    justify-self: center;

}


.river-2 img {


    grid-area: escudo;
    align-self: center;

}

.partidos-2 h5 {
    grid-area: subtitulo;

    align-self: flex-start;
    padding-top: 10px;



}

.partidos-2 h6 {

    grid-area: subtitulo;
    align-self: center;
    gap: 2px;


}

.central {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

/*-----------seccion-reserva-----------*/
.noticias-reserva {
    font-size: 20px;
    color: rgb(41, 40, 40);
    margin-left: 10px;
    padding-top: 10px;
}

.reserva img {
    width: 374px;

}

.reserva h4 {
    background-color: grey;
    width: 120px;

}

.reserva h2 {
    color: red;
}

.reserva-1 {
    margin-top: 10px;
}

.reserva-1 img {
    width: 374px;

}

.reserva-1 h4 {
    background-color: grey;
    width: 120px;

}

.reserva-1 h2 {
    color: red;
}


.reserva-2 {
    margin-top: 10px;
}

.reserva-2 img {
    width: 374px;

}

.reserva-2 h4 {
    background-color: grey;
    width: 120px;

}

.reserva-2 h2 {
    color: red;
}

/*----------------etiquetas-------------------*/
.etiquetas h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.etiquetas a {
    background-color: grey;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*---------------footer----------------*/

.riv {
    background-color: rgb(5, 1, 1);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.riv img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 100%;

}

.riv p {
    color: white;
    padding: 30px;
    font-size: 10px;
}


/*----------seccion-multimedia------------*/
.mult h2 {
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;


}

.mult img {
    margin-top: -80px;
    margin-left: 90px;
}

.vid {
    font-size: 30px;
    padding: 30px;
    color: grey;
}

.principal {
    display: flex;
    justify-content: center;
}

.principal iframe {
    width: 1000px;
    height: 600px;


}

.secundarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
}

.secundarios iframe:hover {
    border: 3px solid red;
}



.footer-mult {
    background-color: black;
    max-width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-mult h2 {

    color: rgb(248, 244, 244);
    font-size: 50px;




}

.footer-mult h2:hover {
    transition: 2s;
    color: red;
    text-shadow: 3px 3px 3px white;
}

.footer-mult img {
    width: 100px;
    border-radius: 300%;

    transform: translate(1200px);
    transition: 90s;


}

.icono-1 {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*-------------seccion-socio---------------*/
.socio {
    display: flex;
}

.socio h2 {
    font-size: 60px;
    margin-left: 30px;
    color: rgb(250, 252, 252);

    position: absolute;
    align-self: flex-end;
    transform: translate(300px);
    transition: 9s;
}

.carnet {
    display: flex;
}

.carnet p {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
    width: 800px;
}

.img-carnet {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.listas-carnet {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
}

.listas-carnet h3 {
    font-size: 30px;
    padding: 20px;
}

.listas-carnet li {
    font-size: 20px;
    padding: 20px;
}

.listas-carnet iframe {
    width: 300px;
    height: 300px;
    padding-left: 20px;
    padding-bottom: 20px;



}

.footer-carnet {
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100vw;
    height: 30vh;
}

.footer-carnet img {
    object-fit: cover;
}

/*-----------seccion-riverid--------*/
.cancha {
    background: linear-gradient(60deg, black 60%, grey);
    background-repeat: no-repeat;
    height: 110vh;
    max-width: 100%;

}

.river-id h2 {
    font-size: 100px;
    color: rgb(248, 245, 245);
    padding-left: 20px;
    grid-area: titulo;
}

.river-id h3 {
    font-size: 30px;
    color: white;
    padding-left: 20px;
    grid-area: subtitulo;
}




.ingr {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 90px 90px 90px 90px 90px;
    grid-template-areas: "titulo imagen"
        "subtitulo imagen"
        "caja imagen"
        "caja imagen"
    ;

}


.usuario label {
    font-family: arial;
    color: white;
    padding-left: 20px;


}

.password label {
    font-family: arial;
    color: white;
    padding-left: 20px;


}

.usuario input {
    margin-left: 20px;
}

.password input {
    margin-left: 20px;
}

.ingresar input {

    color: rgb(250, 246, 246);
    background-color: rgb(247, 6, 6);
    grid-area: caja;
    margin-left: 100px;



}

.ingr img {

    grid-area: imagen;
    align-self: flex-start;
}