.galeria {
    display: none;
}

.imagenes {

    & li {
        width: 100%;
        list-style: none;

    }

    & img {
        border: 2px solid blue;
        width: 100%;
    }
}
 
/*-------seccion-noticias-------*/
.galerias {
    width: 95%;
    margin: auto;
    overflow: hidden;

    & ul {
        display: flex;
        padding: 0px;
        margin: 10px;
        max-width: 100%;
    
        animation: cambio 20s infinite alternate;
        animation-timing-function: ease-out;
    
    }
}
.imagenes {

    & li {
        width: 100%;
        list-style: none;
    }
    & img {
        border: 2px solid blue;
        width: 100%;
    }
}

.noticias-1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    & h4 {
        background-color:$color-subtitulos;
        width: 125px;
    }
    
    & img {
        width: 100%;
    }
    
}



.noticias-2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    & h4 {
        background-color: $color-subtitulos;
        width: 125px;
    }
    
    & img {
        width: 100%;
    }
}


.noticias-3 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    & h4 {
        background-color: $color-subtitulos;
        width: 125px;
    }
    
    & img {
        width: 100%;
    }
}

.plantel__subtitulo h2 {
    font-family: $fuente-subtitulos;
    color: red;
    font-size: 30px;
}



/*------- seccion formulario----------*/

.formulario {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

input {
    font-size: 15px;
    margin-top: 20px;
}

label {
    font-size: 20px;
    font-family: 'Fasthand', cursiva;
    color: $color-primario;
    margin-top: 20px;
}

/*---------seccion articulos---------*/
.articulos {

    font-family: 'Jost', sans-serif;
    color: $color-subtitulos;
    font-size: 30px;
    margin: 10px;
}

.club {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgb(75, 7, 246);
    width: 150px;
    height: 270px;
    padding: 5px;
    margin: 5px;

    & h2 {
        font-size: 12px;
        color: $color-primario;
    
    }
    
    & p {
        font-size: 12px;
    }
    
    & img {
        width: 100%;
    }
}

.pretemporada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgb(61, 22, 158);
    width: 150px;
    height: 270px;
    padding: 5px;

    & h2 {
        font-size: 12px;
        color: $color-primario;
    
    }
    
    & p {
        font-size: 12px;
    }
    
    & img {
        width: 100%;
    }

}

.fixture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgb(61, 22, 158);
    width: 150px;
    height: 270px;
    padding: 5px;

    & h2 {
        font-size: 12px;
        color: $color-primario;
    
    }
    
    & p {
        font-size: 12px;
    }
    
    & img {
        width: 100%;
    }

}

.selectivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid rgb(61, 22, 158);
    width: 150px;
    height: 270px;
    padding: 5px;

    & h2 {
        font-size: 12px;
        color: $color-primario;
    
    }
    
    & p {
        font-size: 12px;
    }
    
    & img {
        width: 100%;
    }

}

.observacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}



/*------------seccion futbol.html -----------*/
.futbol {
    display: flex;
   
    & h1 {
        font-size: 20px;
        color: $color-primario;
        position: absolute;
        align-self: flex-end;
        margin-left: 10px;
        color: white;
        font-family:$fuente-subtitulos;
    }
    & img {
        max-width: 100%;
    }
}



.central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

/*-----------seccion-reserva-----------*/
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.noticias-reserva {
    font-family:$fuente-subtitulos;
    font-size: 30px;
    color:$color-subtitulos;
    margin-left: 10px;
    padding: 10px;
}
.reserva {
    & img {
        width: 100%;
    }
    
    & h4 {
        background-color: $color-subtitulos;
        width: 120px;
    }
    
    & h2 {
        color: $color-primario;
       
    }

}

.reserva-1 {
    margin-top: 10px;

    & img {
        width: 100%;
    
    }
    
    & h4 {
        background-color: $color-subtitulos;
        width: 120px;
    
    }
    
    & h2 {
        color: $color-primario;
    }
    
}

.reserva-2 {
    margin-top: 10px;

    & img {
        width: 100%;
    
    }
    
    & h4 {
        background-color: $color-subtitulos;
        width: 120px;
    
    }
    
    & h2 {
        color: $color-primario;
    }
}

/*-----------resultado-------------*/
.river__gano {
    display: flex;
    gap: 20px;
    color: $color-primario;
    
}

.river {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:5px;
   

    & img:hover {
        border: 2px solid $color-primario;
        border-radius: 40%;
        }
}

.vistazos {
    margin-top: 20px;
}

/*----------------etiquetas-------------------*/
.etiquetas {
    
    & h2 {
        font-size: 30px;
        font-family:$fuente-subtitulos;
        color: $color-subtitulos;
        padding: 10px;
    }
    
    & a {
        background-color: $color-subtitulos;
        text-decoration: none;
        color: black;
        
        
    }  
}


/*----------seccion-multimedia------------*/
.mult {
    & h2 {
        background-color: $color-subtitulos;
        max-width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 25px;
    
    
    }
    
    & img {
        width: 50px;
        margin-top: -90px;
        margin-left: 2px;
    }
}

.vid h3{
    font-size: 40px;
    padding: 10px;
    color: $color-subtitulos;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & iframe {
        width: 100%;
        margin: 10px;
        height: 600px;
    }
}

.secundarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;

    & iframe:hover {
        border: 3px solid $color-primario;
    }
}

.icono {
    padding: 40px;
 }

 /*-------------seccion-socio---------------*/
.socio {
    display: flex;

    & img {
        object-fit: cover;
        max-width:100%;
        height: 90px;
    }
    
    & h2 {
        font-size: 16px;
        margin-left: 30px;
        color: rgb(250, 252, 252);
    
        position: absolute;
        align-self: flex-end;
        transform: translate(190px);
        transition: 8s;
    }
}


.carnet {
    display: flex;
    justify-content:space-around;
    align-items: center;

    & p {
        font-size: 20px;
        margin-top: 30px;
        padding: 10px;
        
    }
    
    &__img {
        padding-top: 60px;
        display: flex;
        justify-content: center;
    }
    
    &__listas {
        padding-top: 20px;
    
        display: flex;
        flex-direction: column;
    }
    
    &__listas h3 {
        font-size: 20px;
        font-family: $fuente-subtitulos;
        padding: 20px;
    }
    
    &__listas li {
        font-size: 20px;
        padding: 20px;
    }
    
    &__listas iframe {
        width: 150px;
        height: 150px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100vw;
    height: 150px;

    & h2 {
        font-size: 25px;
        color: white;
        
    
    }
    &__sponsor img {
        
        object-fit: cover;
        margin: 5px;
        width: 60px;
        height: 60px;
    }
}


/*-----------seccion-riverid--------*/

.river-plate {
    max-width: 100%;
}
.cancha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(60deg, black 60%, grey);
    max-width: 100%;
    height: 80vh;
}
.river-id {
    & h2 {
        font-size: 50px;
        color: rgb(248, 245, 245);
    }
    
    & h3 {
        font-size: 20px;
        color: white;
        padding-top: 20px;
        margin: 10px;
    }
}

.ingr__usuario label {
    font-family: arial;
    color: white;
    margin: 10px;
}

.ingr__password label {
    font-family: arial;
    color: white;
   margin: 10px;
}
.ingr {
    & input {
        margin: 10px;
    }
    & img {
        width: 300px;
        padding-top: 20px;
    } 
}