@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}